{% load static %}

<!doctype html>
<html lang="fr">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
  <title>BookWise</title>
</head>
<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'list' %}">
      <img src="{% static 'images/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      BookWise
    </a>
    <!-- Catégorie sous le titre -->
    <div class="mt-2 mb-2">
      <form class="d-flex" action="{% url 'search_results' %}" method="get">
        <select class="form-control me-2" name="category_id" onchange="this.form.submit()">
          <option value="">All Categories</option>
          <option value="2">Littérature</option>
          <option value="3">Informatique</option>
          <option value="4">Mathématique</option>
        </select>
      </form>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
      <form class="form-inline my-2 my-lg-0" action="{% url 'search_results' %}" method="get">
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
        <!-- Category dropdown -->
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if user.is_authenticated %}
            {{ user.username }}
          {% else %}
            Account
          {% endif %}
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          {% if user.is_authenticated %}
            <a class="dropdown-item" href="{% url 'update' %}">Update Profile</a>
            {% if user.is_staff %}
              <a class="dropdown-item" href="{% url 'create_book' %}">Create Book</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="dropdown-item">Log Out</button>
            </form>
          {% else %}
            <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
            <a class="dropdown-item" href="{% url 'signup' %}">Sign Up</a>
          {% endif %}
        </div>
      </div>
      <!-- Cart Icon -->
      <a href="{% url 'cart_detail' %}" class="btn btn-success ml-3">
        <i class="fas fa-shopping-cart"></i>
        {% if cart_items_count > 0 %}
          <span class="badge badge-light">{{ cart_items_count }}</span>
        {% endif %}
      </a>
    </div>
  </nav>
  
  <!-- Main Content -->
  <div class="container mt-4">
    {% block content %}
    <!-- Content goes here -->
    {% endblock content %}
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>